body {
  background-color: skyblue
}

h1 {
  font-family: fantasy;
  color: azure;
  margin-left: 20px;
}
img {
  border-radius: 8px;
}

p{
  font-family: fantasy;
  color: lightslategray;
  margin-left: 20px;  
}

.header {
padding: 40px;
text-align: center;
background: black;
color: white;
font-size: 30px;
border-radius: 12px;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}
